.luck-check {
  width: 13%;
  padding: 10px;
  background-color: rgb(191, 40, 40);
  color: white;
  font-size: 18px;
  border: none;
  cursor: pointer;
}
.watch-now {
  width: 13%;
  padding: 10px;
  background: linear-gradient(to right, #f5d76e, #b38e28);
  color: white;
  font-size: 18px;
  border: none;
  cursor: pointer;
}
