.heading {
  color: #ffffff;
  font-size: 32px;
  font-weight: 400;
}
.card-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  height: 800px;
}
.watch-now {
  margin-top: 15px;
  width: 30%;
}
